.Task
{
	white-space: nowrap;
	font-weight: 400;
	display: block;
}

.Task:hover
{
	color: #e74c3c;
}

.Opened > .Task
{
	font-weight: 500;
}

.TaskTitle
{
	font-size: 12px;
	cursor: pointer;
	/*flex-grow: 100;*/
}