.Task
{
    /*border: 2px solid #34495e; */ /* wet asphalt */
    border: 2px solid #2980b9;
    position: relative;
    cursor: pointer;
}

.Task:hover
{
	/*border-color: #e74c3c;*/
	opacity: 0.7;
}

.Opened
{
	border-color: #34495e;
}

.ResourceName
{
	position: absolute;
	left: 100%;
	top: -2px; /* experimented */
	margin-left: 10px;
	font-size: 12px;
	white-space: nowrap;
}